dist

generated

node_modules
package-lock.json
yarn-error.log

# ignore all sqlite files in any directory
*.sqlite

#ignore all model files in any directory
*.gguf

# qdrant storage
qdrant_storages

# local json files
*.json